/* Apply a universal reset to remove margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(20, 66, 18); /* Sets the background color of the entire screen */
    color: white; /* Sets the text color to white for better readability */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
    font-family: Arial, sans-serif; /* Sets a default font for better readability */
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
    margin: 20px 0;
}

.square {
    width: 100vw; /* Ensures the square takes the full width of the screen */
    height: 800px;
    background-color: rgb(13, 13, 80);
    position: relative; /* Enable absolute positioning for the text */
    display: flex;
    justify-content: center;
    align-items: center;
}

.square p {
    color: white; /* Ensure the text color is set to white */
    text-align: center; /* Center the text */
    font-size: 2em; /* Adjust the size as needed */
}

.footer {
    text-align: center;
    margin: 20px 0;
}